    <footer>
        <p>&copy; <%= new Date().getFullYear() %> CSE 340 Service Network.</p>
        <% if (NODE_ENV === "development") { %>
            <p>Development Mode</p>
        <% } %>
    </footer>
</body>
</html>
